USE [master]
GO
/****** Object:  Database [DeThiThu_TenSV_MaSV]    Script Date: 07/10/2017 7:29:46 CH ******/
CREATE DATABASE [DeThiThu_TenSV_MaSV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DeThiThu1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS01\MSSQL\DATA\DeThiThu1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DeThiThu1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS01\MSSQL\DATA\DeThiThu1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DeThiThu_TenSV_MaSV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DeThiThu_TenSV_MaSV]
GO
USE [DeThiThu_TenSV_MaSV]
GO
/****** Object:  Table [dbo].[ChiTietHD]    Script Date: 07/10/2017 7:29:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHD](
	[MaHD] [nvarchar](5) NOT NULL,
	[MaSP] [nvarchar](5) NOT NULL,
	[SlBan] [int] NULL,
 CONSTRAINT [PK_ChiTietHD] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietHDN]    Script Date: 07/10/2017 7:29:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHDN](
	[MaHDN] [nvarchar](5) NOT NULL,
	[MaSP] [nvarchar](5) NOT NULL,
	[GiaNhapVao] [int] NULL,
	[SLN] [int] NULL,
 CONSTRAINT [PK_ChiTietHDN] PRIMARY KEY CLUSTERED 
(
	[MaHDN] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Hoadon]    Script Date: 07/10/2017 7:29:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hoadon](
	[MaHD] [nvarchar](5) NOT NULL,
	[MaKH] [nvarchar](5) NULL,
	[MaNV] [nvarchar](5) NULL,
	[Ngayban] [datetime] NULL,
 CONSTRAINT [PK_Hoadon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDonNhap]    Script Date: 07/10/2017 7:29:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonNhap](
	[MaHDN] [nvarchar](5) NOT NULL,
	[MaNV] [nvarchar](5) NULL,
	[NgayNhap] [datetime] NULL,
 CONSTRAINT [PK_HoaDonNhap] PRIMARY KEY CLUSTERED 
(
	[MaHDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 07/10/2017 7:29:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [nvarchar](5) NOT NULL,
	[TenKH] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](150) NULL,
	[SDT] [nvarchar](15) NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 07/10/2017 7:29:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [nvarchar](5) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[Diachi] [nvarchar](150) NULL,
	[GioiTinh] [nvarchar](5) NULL,
	[SDT] [nvarchar](15) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 07/10/2017 7:29:47 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [nvarchar](5) NOT NULL,
	[HangSanxuat] [nvarchar](100) NULL,
	[TenSP] [nvarchar](100) NULL,
	[GiaSP] [bigint] NULL,
	[Thongso] [nvarchar](200) NULL,
	[BaoHanh] [nvarchar](25) NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[ChiTietHD] ([MaHD], [MaSP], [SlBan]) VALUES (N'0003', N'0001', 1)
INSERT [dbo].[ChiTietHD] ([MaHD], [MaSP], [SlBan]) VALUES (N'0003', N'0003', 1)
INSERT [dbo].[ChiTietHD] ([MaHD], [MaSP], [SlBan]) VALUES (N'0004', N'0012', 1)
INSERT [dbo].[ChiTietHDN] ([MaHDN], [MaSP], [GiaNhapVao], [SLN]) VALUES (N'1', N'0001', 20000000, 10)
INSERT [dbo].[ChiTietHDN] ([MaHDN], [MaSP], [GiaNhapVao], [SLN]) VALUES (N'1', N'0002', 19000000, 5)
INSERT [dbo].[ChiTietHDN] ([MaHDN], [MaSP], [GiaNhapVao], [SLN]) VALUES (N'1', N'0003', 16000000, 10)
INSERT [dbo].[Hoadon] ([MaHD], [MaKH], [MaNV], [Ngayban]) VALUES (N'0003', N'0003', N'0001', CAST(N'2015-03-16T00:00:00.000' AS DateTime))
INSERT [dbo].[Hoadon] ([MaHD], [MaKH], [MaNV], [Ngayban]) VALUES (N'0004', N'0004', N'0001', CAST(N'2015-03-17T00:00:00.000' AS DateTime))
INSERT [dbo].[Hoadon] ([MaHD], [MaKH], [MaNV], [Ngayban]) VALUES (N'0006', N'0002', N'0001', CAST(N'2015-03-18T00:00:00.000' AS DateTime))
INSERT [dbo].[HoaDonNhap] ([MaHDN], [MaNV], [NgayNhap]) VALUES (N'1', N'0002', CAST(N'2015-03-01T00:00:00.000' AS DateTime))
INSERT [dbo].[HoaDonNhap] ([MaHDN], [MaNV], [NgayNhap]) VALUES (N'10', N'0003', CAST(N'2015-05-19T00:00:00.000' AS DateTime))
INSERT [dbo].[HoaDonNhap] ([MaHDN], [MaNV], [NgayNhap]) VALUES (N'11', N'0004', CAST(N'2015-05-31T00:00:00.000' AS DateTime))
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChi], [SDT]) VALUES (N'0001', N'Nguyễn Văn Hùng', N'Cầu Giấy - Hà Nội', N'0978965195')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChi], [SDT]) VALUES (N'0002', N'Bùi Minh Chí', N'Hà Đông', N'0978965236')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [DiaChi], [SDT]) VALUES (N'0003', N'Trần Chí Kiên', N'Tây Hồ - Hà Nội', N'0912559654')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [Diachi], [GioiTinh], [SDT]) VALUES (N'0001', N'Tăng Thanh Hà', N'Số 3, Ngõ 165,Cầu Giấy - Hà Nội', N'Nữ', N'0978652365')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [Diachi], [GioiTinh], [SDT]) VALUES (N'0002', N'Nguyễn Văn Hùng', N'Số 69, Ngách 24, ngõ 23, Từ Liêm - Hà Nội', N'Nam', N'0912563215')
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [Diachi], [GioiTinh], [SDT]) VALUES (N'0003', N'Tạ Quang Huy', N'Số 25, Ngõ 196, Cầu Giấy -  Hà Nội', N'Nam', N'016502256523')
INSERT [dbo].[SanPham] ([MaSP], [HangSanxuat], [TenSP], [GiaSP], [Thongso], [BaoHanh]) VALUES (N'0001', N'Samsung', N'Galaxy note Edge', 20990000, NULL, N'1 Nam')
INSERT [dbo].[SanPham] ([MaSP], [HangSanxuat], [TenSP], [GiaSP], [Thongso], [BaoHanh]) VALUES (N'0002', N'Apple', N'Iphone 6 Plus 16GB', 19590000, NULL, N'1 Nam')
INSERT [dbo].[SanPham] ([MaSP], [HangSanxuat], [TenSP], [GiaSP], [Thongso], [BaoHanh]) VALUES (N'0003', N'HTC', N'One M9', 16990000, NULL, N'1 Nam')
ALTER TABLE [dbo].[ChiTietHD]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHD_Hoadon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[Hoadon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHD] CHECK CONSTRAINT [FK_ChiTietHD_Hoadon]
GO
ALTER TABLE [dbo].[ChiTietHD]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHD_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietHD] CHECK CONSTRAINT [FK_ChiTietHD_SanPham]
GO
ALTER TABLE [dbo].[ChiTietHDN]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHDN_HoaDonNhap] FOREIGN KEY([MaHDN])
REFERENCES [dbo].[HoaDonNhap] ([MaHDN])
GO
ALTER TABLE [dbo].[ChiTietHDN] CHECK CONSTRAINT [FK_ChiTietHDN_HoaDonNhap]
GO
ALTER TABLE [dbo].[ChiTietHDN]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHDN_SanPham] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
GO
ALTER TABLE [dbo].[ChiTietHDN] CHECK CONSTRAINT [FK_ChiTietHDN_SanPham]
GO
ALTER TABLE [dbo].[Hoadon]  WITH CHECK ADD  CONSTRAINT [FK_Hoadon_KhachHang] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[Hoadon] CHECK CONSTRAINT [FK_Hoadon_KhachHang]
GO
ALTER TABLE [dbo].[Hoadon]  WITH CHECK ADD  CONSTRAINT [FK_Hoadon_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[Hoadon] CHECK CONSTRAINT [FK_Hoadon_NhanVien]
GO
USE [master]
GO
