

GO
/****** Object:  Table [dbo].[DIEM]    Script Date: 07/10/2020 7:34:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEM](
	[MAHS] [nvarchar](5) NOT NULL,
	[TOAN] [float] NULL,
	[LY] [float] NULL,
	[HOA] [float] NULL,
	[VAN] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DSHS]    Script Date: 07/10/2020 7:34:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DSHS](
	[MAHS] [nvarchar](5) NOT NULL,
	[HO] [nvarchar](15) NULL,
	[TEN] [nvarchar](7) NULL,
	[NU] [bit] NOT NULL,
	[NGAYSINH] [datetime] NULL,
	[LOP] [nvarchar](4) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 07/10/2020 7:34:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[LOP] [nvarchar](4) NOT NULL,
	[GVCN] [nvarchar](25) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[DIEM] ([MAHS], [TOAN], [LY], [HOA], [VAN]) VALUES (N'00001', 4.5, 7, 4, 8)
INSERT [dbo].[DIEM] ([MAHS], [TOAN], [LY], [HOA], [VAN]) VALUES (N'00002', 5, 4.5, 10, 7)
INSERT [dbo].[DIEM] ([MAHS], [TOAN], [LY], [HOA], [VAN]) VALUES (N'00007', 4, 4.5, 4, 4)
GO
INSERT [dbo].[DSHS] ([MAHS], [HO], [TEN], [NU], [NGAYSINH], [LOP]) VALUES (N'00001', N'Nguyen Viet', N'Hong', 0, CAST(N'1974-04-06T00:00:00.000' AS DateTime), N'10A1')
INSERT [dbo].[DSHS] ([MAHS], [HO], [TEN], [NU], [NGAYSINH], [LOP]) VALUES (N'00002', N'Tran Van', N'Minh', 0, CAST(N'1975-04-19T00:00:00.000' AS DateTime), N'10A1')
INSERT [dbo].[DSHS] ([MAHS], [HO], [TEN], [NU], [NGAYSINH], [LOP]) VALUES (N'00007', N'Vu Huu', N'Tuan', 0, CAST(N'1975-10-14T00:00:00.000' AS DateTime), N'10A1')
GO
INSERT [dbo].[LOP] ([LOP], [GVCN]) VALUES (N'10A1', N'Nguyễn Thanh Nhàn')
INSERT [dbo].[LOP] ([LOP], [GVCN]) VALUES (N'10A2', N'Lê Văn Hiển')
INSERT [dbo].[LOP] ([LOP], [GVCN]) VALUES (N'10A3', N'Nguyễn Thị Bé')
GO
